However,before you proceed you must pass these requirements

1)You are A supporter of creating fair and clean internet.For more details and clarifications,continue to read

2)Your decisions should not be controlled by other entity.

z)Your decisions should not have high bias.